<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Ordering"   verbose="1" >
  <test name="Sequential">
    <classes>
      <class name="test.interleavedorder.advanced.c.Daughter" />
      <class name="test.interleavedorder.advanced.c.Son" />
    </classes>
  </test>
</suite>